
ia_rscripts/bjarki_scripts/01-tmp_bjarki.R

ia_rscripts/bjarki_scripts/02-preyByYear.R

ia_rscripts/bjarki_scripts/faedugogn ur fjolst.r

ia_rscripts/chrisphine_scripts/01-tmp.R

ia_rscripts/chrisphine_scripts/gssLogistic.R

ia_rscripts/chrisphine_scripts/maturity.r

ia_rscripts/chrisphine_scripts/02-LDs.R

ia_rscripts/chrisphine_scripts/MeanLength.R

ia_rscripts/chrisphine_scripts/nonlin.R
